@use "../base/variables";
@use "../base/mixin";
@use "../base/global";

.header__container {
  @include mixin.alignFourDirections($justify: space-between, $align: center);
  height: 75px;
  padding: 0 1.5rem;
  border-bottom: variables.$border;
  @media (min-width: variables.$laptop) {
    height: 100px;
    padding: 0 3rem;
  }
}

.header__element--laptop {
  display: none;
  @media (min-width: variables.$laptop) {
    display: block;
    width: 107px;
  }
}

.header__logo {
  width: 75px;
  @media (min-width: variables.$laptop) {
    width: 100px;
  }
}

.header__wrap--right {
  @include mixin.alignFourDirections($justify: center, $align: center);
}

.header__link--explore {
  margin-right: 1rem;
  text-decoration: none;
  color: variables.$white;
}
