@use "../base/variables";
@use "../base/mixin";
@use "../base/global";
@use "../base/animations";

.home__category--list {
  @include mixin.ScrollableHorizontally;
  display: flex;
  border-bottom: variables.$border;
}

// Remove scrollbar(Chrome, Safari)
.home__category--list::-webkit-scrollbar {
  display: none;
}

.home__category--item {
  font-size: 14px;
  padding: 1em;
  cursor: pointer;
  @media (min-width: variables.$laptop) {
    font-size: 16px;
    padding: 1.5em;
  }
}

.home__category--activeItem {
  font-size: 14px;
  padding: 1em;
  cursor: pointer;
  background-color: variables.$orange;
  animation: jelly 0.5s;
  @media (min-width: variables.$laptop) {
    font-size: 16px;
    padding: 1.5em;
  }
}
