@use "../base/variables";
@use "../base/mixin";
@use "../base/global";

.comment__wrap {
  margin: 0 auto;
  width: 85vw;
  @media (min-width: variables.$tablet) {
    margin-left: 7.5%;
    width: 50%;
  }
}

.comment__form {
  width: 100%;
}

.comment__input {
  font-family: variables.$font;
  display: block;
  padding: 1rem;
  width: calc(100% - 32px);
  height: 68px;
  border: none;
  border-radius: 4px;
  word-wrap: break-word;
  word-break: break-all;
}

.comment__button {
  font-family: variables.$font;
  display: block;
  margin: 1rem 0 0 auto;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: variables.$orange;
  cursor: pointer;
}
