@use "../base/variables";
@use "../base/mixin";
@use "../base/global";

.plan__wrap {
  margin-left: 1.5em;
  width: 85vw;
  @media (min-width: variables.$tablet) {
    margin-left: 7.5%;
    width: 50%;
  }
}

.plan__heading {
  margin-top: 2rem;
  font-size: 26px;
  @media (min-width: variables.$tablet) {
    font-size: 32px;
  }
}

.plan__story {
  margin-top: 1rem;
}

.plan__image {
  display: block;
  margin-top: 1rem;
  width: 330px;
  height: auto;
  @media (min-width: variables.$tablet) {
    width: 30vw;
  }
}

.plan__wrap--audios {
  @media (min-width: variables.$tablet) {
    display: flex;
  }
}

.plan__wrap--playIcon {
  @include mixin.alignFourDirections();
  margin-top: 1rem;
  width: 120px;
  height: 75px;
  border: variables.$border;
  border-radius: 12px;
  @media (min-width: variables.$tablet) {
    margin-right: 3rem;
  }
}

// .plan__wrap--pauseIcon {
//   @include mixin.alignFourDirections();
//   margin-top: 1rem;
//   width: 80px;
//   height: 50px;
//   border-radius: 12px;
//   background-color: variables.$orange;
// }

.plan__icon--audio {
  width: 39px;
  height: 39px;
}
