@use "../base/variables";
@use "../base/mixin";
@use "../base/global";

.announce__wrap {
  margin: 0 auto;
  width: 85vw;
  @media (min-width: variables.$tablet) {
    margin-left: 7.5%;
    width: 50%;
  }
}
