@use "../base/variables";
@use "../base/mixin";
@use "../base/global";

.plan__wrap {
  margin-left: 1.5em;
  width: 85vw;
  @media (min-width: variables.$tablet) {
    @include mixin.mediaQueryStyleForProject;
  }
  @media (min-width: variables.$laptop) {
    transform: translateY(-150px);
  }
  @media (min-width: variables.$desktop) {
    transform: translateY(0px);
  }
}

.plan__heading {
  margin-top: 2rem;
  font-size: 26px;
  @media (min-width: variables.$tablet) {
    font-size: 32px;
  }
}

.plan__story {
  margin-top: 1rem;
}

.plan__image {
  display: block;
  margin-top: 1rem;
  width: 330px;
  height: auto;
  @media (min-width: variables.$tablet) {
    width: 40vw;
  }
}

.plan__wrap--playIcon {
  @include mixin.alignFourDirections();
  margin-top: 1rem;
  width: 80px;
  height: 50px;
  border: variables.$border;
  border-radius: 12px;
  @media (min-width: variables.$tablet) {
    width: 200px;
    height: 125px;
  }
}

// .plan__wrap--pauseIcon {
//   @include mixin.alignFourDirections();
//   margin-top: 1rem;
//   width: 80px;
//   height: 50px;
//   border-radius: 12px;
//   background-color: variables.$orange;
// }

.plan__icon--audio {
  width: 26px;
  height: 26px;
  @media (min-width: variables.$tablet) {
    width: 62px;
    height: 62px;
  }
}
