@use "../base/variables";
@use "../base/mixin";
@use "../base/global";

.main__wrap {
  @media (min-width: variables.$tablet) {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 85vw;
  }
}

.main__wrap--image {
  width: 100vw;
  height: auto;
  overflow: hidden;
  @media (min-width: variables.$tablet) {
    margin-top: 2rem;
    width: 55%;
  }
}

.main__image {
  width: 100vw;
  @media (min-width: variables.$tablet) {
    width: 100%;
  }
}

.main__wrap--info {
  margin-left: 1.5rem;
  width: 85vw;
  @media (min-width: variables.$tablet) {
    position: absolute;
    top: 0;
    left: 59%;
    width: 41%;
  }
}

.main__title {
  margin-top: 2rem;
  font-size: 32px;
}

.main__description {
  margin-top: 1em;
}

.main__button--support {
  margin-top: 1.5em;
  display: block;
  padding: 1rem;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  background-color: variables.$orange;
  color: variables.$white;
  max-width: 325px;
}

.main__wrap--support {
  @include mixin.alignFourDirections($justify: flex-start, $align: flex-end);
  margin-top: 1.5rem;
}

.main__support--current {
  font-size: 18px;
  margin-right: 1rem;
}

.main__support--target {
  font-size: 12px;
}

.main__expiration {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.main__expiration--span {
  font-size: 12px;
}

.main__members {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.main__wrap--creator {
  @include mixin.ScrollableHorizontally;
  display: flex;
  @media (min-width: variables.$tablet) {
    display: block;
  }
}

.main__wrap--creator::-webkit-scrollbar {
  display: none;
}
