@mixin alignFourDirections($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin styleProtectionWidth {
  max-width: 300px;
  overflow: hidden;
}

@mixin ScrollableHorizontally {
  margin: 0 auto 0 0;
  overflow-x: auto;
  overflow-y: hidden;
  // Remove scrollbar(IE, Edge, Firefox)
  -ms-overflow-style: none;
  scrollbar-width: none;
}
